body {
    background-color: #d3e1ff;
    text-align: center;
    color: #494D5f;
    font-family: monospace, Tahoma;
}

header a {
    color: #494D5f;
}

header a:hover {
    color: #494D5f;
    text-decoration: none;
}

a {
    color: #77009E;
    text-decoration: none;
}

a:hover {
    color: #f4ff5a;
    text-decoration: underline;
}

main {
    max-width: 1200px; /* Ensures content does not stretch too wide */
    width: 90%; /* Flexible width for responsiveness */
    margin: 0 auto; /* Centers the content */
    text-align: left;
}

h2 {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

script {
    width: 10%;
}

main img {
    max-width: 300px;
    min-width: 200px;
    border-radius: 10px;
    border: 2px solid black;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
th {
    background-color: #535353;
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #ebebeb;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
caption {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

form {
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
}

form label {
    display: inline-block;
}

form input {
    padding: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

button {
    background-color: #1f1f1f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #696868;
}

hr {
    border-color: #494D5f;
    max-width: 700px;
}

header nav a {
    display: inline-block;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    color: rgb(11, 11, 243);
}

header nav a:hover {
    background-color: white;
}

/* Mobile Devices */
@media screen and (max-width: 600px) {
    main {
        width: 95%;
        margin: 0 auto;
    }
    table {
        width: 100%;
    }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        width: 90%;
    }
}

/* Laptops and Small Screens */
@media screen and (min-width: 981px) and (max-width: 1400px) {
    main {
        max-width: 1000px;
    }
}
