body {
    background-color: #d3e1ff;
    text-align: center;
    color: #494D5f;
    font-family: monospace, Tahoma;
}

a {
    color: #77009E;
    text-decoration: none;
}

a:hover {
    color: #f4ff5a;
    text-decoration: underline;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

img {
    width: 50%;
    max-width: 300px;
    min-width: 100px;
}

figure {
    text-align: center;
    font-style: italic;
}

