<p>Page Built by <a href="dacostanetwork.com/">da Costa Network</a> ©2024, Certified in <a href="https://www.freecodecamp.org/certification/idacosta/responsive-web-design">Responsive Web Design</a></p>            
<nav>
    <a id="validation-button-html">
        <img src="images/htmlValidationButton.png" alt="HTML validation button">
    </a>
    <a id="validation-button-css">
        <img src="images/cssValidationButton.png" alt="CSS validation button">
    </a>
    <a id="validation-button-wcag">
        <img src="images/wcagValidationButton1.png" alt="WCAG validation button">
    </a>
</nav>
