<p>Links to my other pages:</p>
<nav>
    <a href = "https://github.com/Idacos" target="_new">GitHub</a> |
    <a href = "https://idacos.github.io/" target="_new">GitHub.io</a> |
    <a href = "https://www.linkedin.com/in/ilton-da-costa-neto/">LinkedIn</a> 
</nav>
<p>"Unleash the Flock, Rule the Deck!"</p>
<p>Page Built by <a href="dacostanetwork.com/">da Costa Network</a> ©2024, Certified in <a href="https://www.freecodecamp.org/certification/idacosta/responsive-web-design">Responsive Web Design</a></p>            <nav>
    <a id="validation-button-html">
        <img src="images/htmlValidationButton.png" alt="html validation button">
    </a>
    <a id="validation-button-css">
        <img src="images/cssValidationButton.png" alt="css validation button">
    </a>
</nav>